allure-pytest==2.13.5
allure-python-commons==2.13.5
anyio==4.4.0
assertpy==1.1
attrs==24.2.0
backoff==2.2.1
blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
chromedriver-binary==114.0.5735.90.0
click==8.1.7
colorama==0.4.6
configparser==7.0.0
curlify==2.2.1
exceptiongroup==1.2.2
Faker==26.0.0
Flask==3.0.3
graphql-core==3.2.3
greenlet==3.0.3
h11==0.14.0
harfile==0.3.0
httpcore==1.0.5
httpx==0.27.0
hypothesis==6.111.0
hypothesis-graphql==0.11.1
hypothesis-jsonschema==0.23.1
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
junit-xml==1.9
load-dotenv==0.1.0
lunardate==0.2.2
MarkupSafe==2.1.5
memory-profiler==0.61.0
multidict==6.0.5
outcome==1.3.0.post0
packaging==24.1
pillow==10.3.0
pluggy==1.5.0
pony==0.7.17
psutil==6.0.0
psycopg2-binary
pyrate-limiter==3.7.0
PySocks==1.7.1
pytest==8.2.2
pytest-html-reporter==0.2.9
pytest-subtests==0.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.20.0
schemathesis==3.33.3
selenium==4.24.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.32
starlette==0.38.2
starlette-testclient==0.4.1
tomli==2.0.1
tomli_w==1.0.0
trio==0.26.2
trio-websocket==0.11.1
typing_extensions==4.12.2
urllib3==1.26.20
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.0.3
wsproto==1.2.0
yarl==1.9.4